@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'TildaSans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
}

section:not(.home) {
  margin: 2rem auto;
}

/* HEADER */
.navbar span:not(.dropdown-username) {
  color: white;
}

/* HOME PAGE */
.hero-wrapper {
  background:
    linear-gradient(rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)), url('https://firebasestorage.googleapis.com/v0/b/travel-69aa2.appspot.com/o/background-2.jpg?alt=media&token=7c0670cf-6a51-4183-9309-250b4447749b');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 3rem);
}

.home>* {
  margin: 0;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(80vh - 5rem);
  color: #fff;
  text-align: center;

  button {
    padding: 0.7rem 2rem;
    margin-top: 2rem;
    cursor: pointer;
    /* background-color: rgb(87, 222, 222); */
    font-size: 1rem;
    border: none;
    color: #fff;
  }
  button:hover {
    transition: background-color 0.3s ease;
    background-color: rgb(26, 221, 232);
  }

  p {
    width: 60%;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.1rem;
      width: 40%;
    }

    button {
      /* padding: 0.5rem 2rem; */
      font-size: 1.4rem;
    }
  }
}

/* Tour Overview.tsx */
.icon {
  font-size: 1.3rem;
  color: rgb(87, 222, 222);
  vertical-align: middle;
  margin: 0 0.5rem 0.2rem 0;
}

.overview-box span {
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

.labels>div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

/* Tour Gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
}